{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "60",
          "ie": "11"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    [
      "react-hot-loader/babel"
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css" // `style: true` 会加载 less 文件
      }
    ],
    ["@babel/plugin-syntax-dynamic-import"]
  ]
}
